@font-face {
   font-family: 'Museo 300';
   font-display: swap;
   src: url('file:///C:/Users/Alexa/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-02_144210/fonts/Museo%20300/font.ttf');
}
